body {
  min-height: 100vh;
  font-family:
    "Styrene UI",
    system-ui,
    sans-serif;
  font-weight: 400;
  font-feature-settings: "ss01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.4;
  color: #181818;
}

#root {
  min-height: 100vh;
}
