@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  padding: 0 10px;
}

.title {
  margin-bottom: 16px;
  text-align: center;

  @include media($sm) {
    margin-bottom: 8px;
    font-size: 20px;
  }
}

.add {
  margin-bottom: 8px;
}

.nav {
  button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.link {
  &:not(:last-child) {
    margin-right: 4px;
  }

  img {
    display: inline;
  }
}

.tooltip {
  display: inline-block;
}

.tr {
  td {
    vertical-align: middle;
  }
}
