@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  display: flex;
  justify-content: space-between;
}

.star {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/images/Rating/disable-star.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  @include media($sm) {
    width: 24px;
    height: 24px;
  }

  &:not(:last-child) {
    margin-right: 4px;
  }

  &.active {
    opacity: 1;
    background-image: url("../../assets/images/Rating/active-star.png");
  }
}
