@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.star {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/images/Rating/disable-star.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.star:not(:last-child) {
  margin-right: 5px;
}

.star--active {
  opacity: 1;
  background-image: url("../../assets/images/Rating/active-star.png");
}
