@import "./src/scss/helpers/variables";
@import "./src/scss/helpers/mixins";

.root {
  position: relative;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

.text {
  margin-top: 4px;
  font-size: 20px;
}
